@import url("https://p.typekit.net/p.css?s=1&k=hac2fan&ht=tk&f=32232.32238&a=36078141&app=typekit&e=css");

@font-face {
font-family:"din-2014";
src:url("https://use.typekit.net/af/7f09be/00000000000000003b9b0acb/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/7f09be/00000000000000003b9b0acb/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/7f09be/00000000000000003b9b0acb/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:800;
}

@font-face {
font-family:"din-2014-narrow";
src:url("https://use.typekit.net/af/e80950/00000000000000003b9b0ad3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/e80950/00000000000000003b9b0ad3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/e80950/00000000000000003b9b0ad3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:700;
}

@import url("https://p.typekit.net/p.css?s=1&k=srw1xtq&ht=tk&f=32227.32231&a=36078141&app=typekit&e=css");

@font-face {
font-family:"din-2014";
src:url("https://use.typekit.net/af/cb6232/00000000000000003b9b0ad8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/cb6232/00000000000000003b9b0ad8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/cb6232/00000000000000003b9b0ad8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:400;
}

@font-face {
font-family:"din-2014";
src:url("https://use.typekit.net/af/19a2f0/00000000000000003b9b0ac7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/19a2f0/00000000000000003b9b0ac7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/19a2f0/00000000000000003b9b0ac7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:700;
}

body {
  margin: 0;
  padding: 0;
  font-family: din-2014, roboto, sans-serif;
  line-height: 19px;
  overflow-x: hidden;
  color: #2C3136;
}
ul li {
  list-style: none;
}
.btn-link:hover {
  text-decoration: none;
}

/* Nav */
.navbar {
  flex-direction: column;
  padding: 0;
  background-color: #2C3136 !important;
}
.navbar .upper {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  max-width: 1170px;
}
.navbar .navbar-brand img {
  max-width: 150px;
  height: auto;
}
.navbar .upper .search-account {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.form-inline {
  position: relative;
}
.form-inline input {
  border: none;
}
.form-inline input::placeholder {
  font-size: 13px;
  font-weight: bold;
  color: #E1E1E1;
}
.form-inline i {
  position: absolute;
  right: 55px;
  top: 10px;
  font-size: 16px;
  color: #E1E1E1;
}
.form-inline .form-control {
  margin-right: 2.8rem !important;
}
.navbar .upper .account {
  height: 24px;
  width: 16px;
  margin-right: 10px;
}
.navbar .upper .cart {
  height: 20px;
  width: 24px;
  margin-right: 30px;
}
.navbar .upper .flag {
  height: 21px;
  width: 40px;
}
.navbar .upper .navbar-toggler {
  border: none;
  outline: none;
}
.navbar .upper .navbar-toggler span {
  color: #878C91;
}
.navbar .collapse.navbar-collapse {
  justify-content: center;
  width: 100%;
  background-color: #E1E1E1 ;
}
.navbar .navbar-nav {
  justify-content: space-between;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  max-width: 900px;
}
.navbar li.nav-item .nav-link { 
  color: #2C3136;
  opacity: .5;
}
.navbar-dark .navbar-nav .active>.nav-link { 
  color: #2C3136;
  opacity: 1;
}
.navbar-dark .navbar-nav .nav-link:hover { 
  color: #2C3136;
  opacity: 1;
  transition: all 0.3s ease;
}
/* Section & container */
#search-by-gun {
  padding: 30px 0;
}
#search-by-gun .container {
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
#search-by-gun .section-header {
  margin-bottom: 30px;
}
#search-by-gun .section-header  h1 {
  font-size: 21px;
  line-height: 28px;
  color: #2C3136;
  font-weight: bold;
}
#search-by-gun .section-header  p {
  font-size: 16px;
  line-height: 19px;
}
#onBodyCarousel,
#offBodyCarousel,
.off-body-container,
.on-body {
  width: 50%;
}
/* Tabs */
.nav.nav-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E1E1E1;
  height: 56px;
  width: 100%;
  margin-bottom: 30px;
}
.nav .nav-item {
  padding: 8px 0;
  width: 33.3%;
  text-align: center;
}
.nav-tabs .nav-link {
  border: none;
}
.nav .nav-item.active {
 border-bottom: 5px solid #2C3136;
}
.nav .nav-item a {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #2C3136;
  opacity: .5;
  text-transform: uppercase;
}
.nav .nav-item.active a {
  opacity: 1;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;
}
/* Carousel */
.carousel-inner {
  margin: 0 auto;
  padding: 0 15px;
}
/* Carousel item card */
.carousel-item .card {
  width: 100%;
  border: none;
  padding: 0 16px 16px;
}
.carousel-item .card .img-container {
  height: 210px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.card .card-title {
  font-size: 21px;
  font-weight: bold;
  color: #2C3136;
}
.card .text-title {
  font-size: 16px;
  font-weight: bold;
  color: #2C3136;
  margin: 0 0 15px;
}
.card img.most-popular {
  height: 43px;
  width: 70px;
  align-self: flex-start;
}
.carousel-item .card .card-body {
  padding: 20px 0;
}
.carousel-item .card .read-more {
  display: none;
}
.card .card-body .card-body-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.card .card-body .card-body-left,
.card .card-body .card-body-right {
  width: 50%;
  padding-top: 10px;
}
.card .card-body .card-body-left {
  padding-right: 10px;
}
.card .card-body .card-body-right {
  padding-left: 10px;
}
.card .card-body .card-body-left .benefits-list {
  padding-left: 30px;
}
.card .card-body .card-body-left .benefits-list li {
  list-style: inherit;
  font-size: 14px;
  margin-bottom: 10px;
}
.card .btn-container {
  width: 50%;
  margin-bottom: 10px;
  float: right;
}
.card .btn-container a {
  font-size: 16px;
  letter-spacing: 1px;
  width: 100%;
  background-color: #2C3136;
  border-color: #2C3136;
  color: #fff;
  transition: all 0.3s ease;
}
.card .btn-container a:hover {
  background-color: #fff;
  border-color: #2C3136;
  color: #2C3136;
  transition: all 0.3s ease;
}
.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle {
  background-color: #fff;
  border-color: #2C3136;
  color: #2C3136;
  transition: all 0.3s ease;
}
/* Content */
.content {
  display: none;
  width: 100%;
}
.content.active {
  display: flex;
}
/* Content on-body */
.content_1 .on-body {
  position: relative;
}
.content_1 .on-body img {
  height: auto;
  width: 100%;
}
.clickable-area {
  position: absolute;
  max-height: 355px;
  height: 100%;
  width: 100%;
  top: 86px;
}
.clickable-section-circle {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid #2C3136;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 9px 0;
}
.clickable-section-circle:hover {
  cursor: pointer;
}
.clickable-section-circle.active {
  background-color: #000;
}
.clickable-section-circle.chest {
  top: 23%;
  left: 36%;
}
.clickable-section-circle.shoulder {
  top: 30%;
  left: 27%;
}
.clickable-section-circle.belly {
  top: 36%;
  left: 36%;
}
.clickable-section-circle.appendix {
  top: 50%;
  left: 36%;
}
.clickable-section-circle.pocket {
  top: 58%;
  left: 29%;
}
.clickable-section-circle.ankle {
  bottom: 2%;
  left: 38%;
}
.clickable-section-circle.owb {
  top: 45%;
  right: 38%;
}
.clickable-section-circle.iwb {
  top: 45%;
  right: 27%;
}
.clickable-section-circle.drop-leg {
  top: 66%;
  right: 35%;
}
/* Content off-body */
.content_2 .off-body-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 330px;
}
.content_2 .off-body-container .icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  transition: all 0.3s ease;
}
.content_2 .off-body-container .icon-container img {
  height: auto;
  width: 60%;
  margin-bottom: 30px;
  pointer-events: none;
}
.content_2 .off-body-container .icon-container img.home-icon-hover,
.content_2 .off-body-container .icon-container img.backpack-icon-hover,
.content_2 .off-body-container .icon-container img.molle-icon-hover {
  display: none;
}
.content_2 .off-body-container .icon-container:hover img.home-icon-main,
.content_2 .off-body-container .icon-container:hover img.backpack-icon-main,
.content_2 .off-body-container .icon-container:hover img.molle-icon-main,
.content_2 .off-body-container .icon-container.active img.home-icon-main,
.content_2 .off-body-container .icon-container.active img.backpack-icon-main,
.content_2 .off-body-container .icon-container.active img.molle-icon-main {
  display: none;
}
.content_2 .off-body-container .icon-container.home-carry:hover img.home-icon-hover,
.content_2 .off-body-container .icon-container.backpack-carry:hover img.backpack-icon-hover,
.content_2 .off-body-container .icon-container.accessories:hover img.molle-icon-hover,
.content_2 .off-body-container .icon-container.home-carry.active img.home-icon-hover,
.content_2 .off-body-container .icon-container.backpack-carry.active img.backpack-icon-hover,
.content_2 .off-body-container .icon-container.accessories.active img.molle-icon-hover {
  display: block;
}
.content_2 .off-body-container .icon-container:hover {
  cursor: pointer;
}
.content_2 .off-body-container .icon-container p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0;
}
.content_2 .off-body-container .icon-container.accessories img {
  margin-top: 3px;
}
/* Content all */
.content_3  {
  flex-direction: column;
}
.content_3 .card {
  width: 100%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: .5px solid #878C91 !important;
  border-radius: 0;
  margin: 0 auto;
}
.content_3 .card .card-inner-all {
  padding: 0 1.75rem;
}
.content_3 .card .card-body {
  padding: 1.25rem 0;
}
.content_3 .card .card-header {
  background-color: transparent;
  padding-left: 0;
  padding-bottom: 0;
  border: none;
  outline: none;
}
.content_3 .card .card-text {
  padding-right: 10px;
}
.content_3 .card .card-header button {
  padding-left: 0;
}
.content_3 .card .card-header button span,
.content_3 .card .card-header button i {
  font-size: 18px;
  color: #2C3136;
  font-weight: bold;
  pointer-events: none;
}
.content_3 .card .btn-link.focus, 
.content_3 .card .btn-link:focus {
  text-decoration: none;
  border: none;
  box-shadow: none;
}
.content_3 .card .img-container {
  height: 400px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.content_3 .card .card-body-right .benefits-list {
  padding-left: 20px;
}
.content_3 .card .btn-container {
  width: 30%;
}
/* Utility */
.fixed {
  width: 100%;
  height: auto;
  position: fixed;
  background-color: rgba(255, 255, 255, .8);
  left: 0;
  z-index: 100;
  bottom: 0;
}
.pulse {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  animation: pulse 1.5s 4;
  pointer-events: none;
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(15, 161, 52, 0.8);
    box-shadow: 0 0 0 0 rgba(15, 161, 52, 0.8);
  }
  70% {
    -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    box-shadow: 0 0 0 25px rgba(204,169,44, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
/* clickable area height updates */
@media only screen and (max-width: 1180px) {
  .clickable-area {
    max-height: 340px;
  }
}
@media only screen and (max-width: 1125px) {
  .clickable-area {
    max-height: 330px;
  }
}
@media only screen and (max-width: 1086px) {
  .nav .nav-item a {
    font-size: 14px;
  }
  .clickable-area {
    max-height: 315px;
  }
  .clickable-section-circle.belly {
    top: 36.5%;
  }
}
@media only screen and (max-width: 1060px) {
  .clickable-area {
    max-height: 300px;
  }
}
@media only screen and (max-width: 991px) {
  .navbar .upper {
    justify-content: space-around;
    padding: 0;
  }
  .navbar .upper .navbar-brand {
    width: 25%;
    padding: 10px 0 10px 15px;
  }
  .navbar .upper .flag-container {
    width: 55%;
    text-align: end;
  }
  .navbar .upper .search-account {
    order: 1;
    background-color: #E1E1E1;
    justify-content: center;
  }
  .form-inline {
    width: 100%;
    padding-left: 15px;
  }
  .form-inline .form-control {
    width: 100%;
  }
}
/* transition to mobile layout */
@media only screen and (max-width: 968px) {
  .nav.nav-tabs {
    margin-bottom: 50px;
  }
  #onBodyCarousel,
  #offBodyCarousel,
  .off-body-container,
  .on-body {
    width: 100%;
  }
  #onBodyCarousel .carousel-inner,
  #offBodyCarousel .carousel-inner  {
    padding: 0 15px;
    width: 100%;
    max-width: 100%;
  }
  #onBodyCarousel .carousel-inner .card,
  #offBodyCarousel .carousel-inner .card  {
    margin: 0 auto;
    border: 1px solid #878C91;
    padding: 0;
  }
  #onBodyCarousel .carousel-inner .card .img-container,
  #offBodyCarousel .carousel-inner .card .img-container,
  .content_3 .card .img-container {
    height: 280px;
  }
  .carousel-item .card .card-body {
    padding: 16px 16px;
  }
  .clickable-area {
    max-height: 100%;
    top: 0;
  }
  .clickable-section-circle {
    height: 50px;
    width: 50px;
    font-size: 14px;
    padding: 12px 0;
  }
  .clickable-section-circle.chest {
    top: 23%;
    left: 36%;
  }
  .clickable-section-circle.shoulder {
    top: 29%;
    left: 28%;
  }
  .clickable-section-circle.belly {
    top: 34%;
    left: 36%;
  }
  .clickable-section-circle.appendix {
    top: 45%;
    left: 36%;
  }
  .clickable-section-circle.pocket {
    top: 53%;
    left: 29%;
  }
  .clickable-section-circle.ankle {
    bottom: 9%;
    left: 38%;
  }
  .clickable-section-circle.owb {
    top: 41%;
    right: 38%;
  }
  .clickable-section-circle.iwb {
    top: 41%;
    right: 27%;
  }
  .clickable-section-circle.drop-leg {
    top: 60%;
    right: 36%;
  }
  .content_2 {
    flex-direction: column;
  }
  .content_2 .off-body-container {
    margin: 0 0 50px;
    max-height: 100%;
  }
  .content_2 .off-body-container .icon-container {
    width: 50%;
  }
  .content_2 .off-body-container .icon-container:nth-of-type(1),
  .content_2 .off-body-container .icon-container:nth-of-type(2) {
    margin-bottom: 80px;
  }
  .content_2 .off-body-container .icon-container img {
    width: 25%;
  }
  .content_2 .off-body-container .icon-container.accessories {
    width: 100%;
  }
  .content_2 .off-body-container .icon-container.accessories img {
    width: 12.5%;
  }
  .card .btn-container,
  .content_3 .card .btn-container {
    margin: 0 auto;
    width: 50%;
    padding-bottom: 15px;
    float: none;
  }
  .carousel-item .change-holster {
    margin-bottom: 15px;
  }
  .carousel-item .change-holster:hover {
    cursor: pointer;
  }
  .carousel-item .change-holster p {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    color: #2C3136;
    background-color: transparent;
    pointer-events: none;
  }
  .content_3  {
    padding: 0 15px;
  }
}
/* Tablet */
@media only screen and (max-width: 768px) {
  .content_1 .on-body img {
    transform: scale(1.25);
    margin-top: 40px;
  }
  #onBodyCarousel .carousel-inner {
    padding: 0 30px 95px;
  }
  .clickable-section-circle.chest {
    left: 33%;
  }
  .clickable-section-circle.shoulder {
    left: 22%;
  }
  .clickable-section-circle.belly {
    top: 36%;
    left: 33%;
  }
  .clickable-section-circle.appendix {
    top: 50%;
    left: 33%;
  }
  .clickable-section-circle.pocket {
    top: 57%;
    left: 24%;
  }
  .clickable-section-circle.ankle {
    bottom: 0%;
    left: 36%;
  }
  .clickable-section-circle.owb {
    top: 43%;
    right: 36%;
  }
  .clickable-section-circle.iwb {
    top: 43%;
    right: 22%;
  }
  .clickable-section-circle.drop-leg {
    top: 65%;
    right: 32%;
  }
}
/* Mobile */
@media only screen and (max-width: 568px) {
  #search-by-gun .container {
    padding: 0 15px;
  }
  .navbar .upper {
    flex-wrap: wrap;
  }
  .navbar .upper form .form-inline {
    width: 100%;
  }
  .navbar .upper .navbar-toggler {
    padding: 0;
  }
  .navbar .upper .cart {
    margin-right: 14px;
  }
  .form-inline .form-control {
    margin-right: 1rem !important;
  }
  .form-inline i {
    right: 30px;
  }
  #search-by-gun .section-header p {
    font-size: 14px;
  }
  .nav.nav-tabs {
    margin-bottom: 30px;
  }
  .nav.nav-tabs .nav-item {
    padding: 0;
  }
  .nav.nav-tabs .nav-item:nth-of-type(3) {
    padding: 0 25px 0;
  }
  .nav-link {
    padding: .5rem 1rem .25rem;
  }
  .content_3 .card .btn-container {
    width: 100%;
  }
  #onBodyCarousel .carousel-item:nth-of-type(1) {
    height: 421px;
  }
  #onBodyCarousel .carousel-inner .card,
  #offBodyCarousel .carousel-inner .card {
    margin-bottom: 25px;
  }
  #onBodyCarousel .carousel-inner .card .img-container,
  #offBodyCarousel .carousel-inner .card .img-container,
  .content_3 .card .img-container {
    height: 145px;
  }
  .card .card-body .card-body-inner {
    flex-direction: column;
  }
  .carousel-item .card .card-body .card-body-inner {
    margin-bottom: 0;
  }
  .card .card-body .card-body-left,
  .card .card-body .card-body-right {
    width: 100%;
  }
  .card .card-body .card-body-right {
    padding: 20px 0 0 ;
  }
  .carousel-item .card .card-body .card-body-right ul {
    padding: 0 0 0 20px;
  }
  .carousel-item .card .btn-container {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .5);
    width: 100%;
    padding: 15px;
  }
  .content_1 .on-body img {
    transform: scale(2);
    margin-top: 110px;
    /* margin-bottom: 150px; */
  }
  .clickable-area {
    height: 470px;
    max-height: inherit;
    top: 0px;
  }
  .clickable-section-circle {
    height: 45px;
    width:  45px;
    font-size: 12px;
    padding: 10px 0;
  }
  .clickable-section-circle.chest {
    top: 21%;
    left: 21%;
  }
  .clickable-section-circle.shoulder {
    top: 27%;
    left: 4%;
  }
  .clickable-section-circle.belly {
    top: 33%;
    left: 21%;
  }
  .clickable-section-circle.appendix {
    top: 45%;
    left: 21%;
  }
  .clickable-section-circle.pocket {
    top: 54%;
    left: 8%;
  }
  .clickable-section-circle.ankle {
    bottom: 5%;
    left: 26%;
  }
  .clickable-section-circle.owb {
    top: 40%;
    right: 27%;
  }
  .clickable-section-circle.iwb {
    top: 40%;
    right: 5%;
  }
  .clickable-section-circle.drop-leg {
    top: 60%;
    right: 20%;
  }
  #onBodyCarousel .carousel-inner {
    padding: 0 15px 110px;
    margin-bottom: -110px;
  }
  .content_2 .off-body-container .icon-container img {
    width: 40%;
    margin-bottom: 20px;
  }
  .content_2 .off-body-container .icon-container.accessories img {
    width: 20%;
  }
  .content_2 .off-body-container {
    margin: 15px 0 45px;
  }
  .carousel-item .card .card-body .card-text {
    font-size: 14px;
  }
  .card .btn-container, .content_3 .card .btn-container {
    width: 90%;
  }
  .content_3 .card .card-inner-all {
    padding: 0;
  }
  .fixed-container {
    text-align: center;
  }
  .carousel-item .card .read-more {
    display: inline-block;
    color: #2C3136;
    font-weight: bold;
    text-align: center;
    padding: 20px 0;
    width: 100%;
  }
  .carousel-item .card .read-more::after {
    content: '\f078';
    font-family: fontAwesome;
    color: #2C3136;
    font-weight: bold;
    text-align: center;
    margin-left: 5px;
  }
  .carousel-item .card .fixed-container.fixed .read-more::after {
    content: '\f077';
    font-family: fontAwesome;
    color: #2C3136;
    font-weight: bold;
    text-align: center;
    margin-left: 5px;
  }
}
@media only screen and (max-width: 375px) {
  .nav .nav-item a {
    font-size: 14px;
  }
  .nav.nav-tabs .nav-item {
    padding: 0;
  }
  .nav.nav-tabs .nav-item:nth-last-of-type(3) {
    padding: 0;
  }
  .clickable-area {
    height: 395px;
  }
  .clickable-section-circle.chest {
    top: 22%;
  }
  .clickable-section-circle.shoulder {
    top: 28%;
    left: 3%;
  }
  .clickable-section-circle.belly {
    top: 34%;
  }
  .clickable-section-circle.appendix {
    top: 46%;
  }
  .clickable-section-circle.pocket {
    top: 56%;
  }
  .clickable-section-circle.owb {
    top: 41%;
    right: 25%;
  }
  .clickable-section-circle.iwb {
    top: 41%;
    right: 4%;
  }
  .clickable-section-circle.drop-leg {
    top: 62%;
  }
  .content_2 .off-body-container .icon-container:nth-of-type(1),
  .content_2 .off-body-container .icon-container:nth-of-type(2) {
    margin-bottom: 35px;
  }
  .content_2 .off-body-container .icon-container img {
    width: 40%;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 360px) {
  .clickable-area {
    height: 395px;
  }
  .clickable-section-circle {
    height: 40px;
    width: 40px;
  }
  .clickable-section-circle.chest {
    top: 23%;
  }
  .clickable-section-circle.shoulder {
    top: 26%;
  }
  .clickable-section-circle.belly {
    top: 34%;
  }
  .clickable-section-circle.appendix {
    top: 45%;
  }
  .clickable-section-circle.pocket {
    top: 56%;
  }
  .clickable-section-circle.ankle {
    bottom: 8%;
  }
  .clickable-section-circle.owb {
    top: 41%;
    right: 25%;
  }
  .clickable-section-circle.iwb {
    top: 41%;
    right: 4%;
  }
  .clickable-section-circle.drop-leg {
    top: 62%;
  }
}
@media only screen and (max-width: 320px) {
  #search-by-gun .section-header {
    margin-bottom: 15px;
  }
  #onBodyCarousel .carousel-inner {
    padding: 0 15px 70px;
    margin-bottom: -70px;
  }
  .content_1 .on-body img {
    margin-top: 85px;
  }
  .clickable-area {
    height: 360px;
  }
  .clickable-section-circle {
    height: 40px;
    width: 40px;
  }
  .pulse {
    height: 15px;
    width: 15px;
  }
  .clickable-section-circle.chest {
    top: 21%;
    left: 20%;
  }
  .clickable-section-circle.shoulder {
    top: 26%;
  }
  .clickable-section-circle.belly {
    top: 33%;
    left: 20%;
  }
  .clickable-section-circle.appendix {
    top: 45%;
    left: 20%;
  }
  .clickable-section-circle.pocket {
    top: 56%;
  }
  .clickable-section-circle.owb {
    top: 41%;
    right: 25%;
  }
  .clickable-section-circle.iwb {
    top: 41%;
    right: 4%;
  }
  .clickable-section-circle.drop-leg {
    top: 62%;
  }
  .clickable-section-circle.ankle {
    bottom: 5%;
  }
  .content_2 .off-body-container {
    margin-bottom: 45px;
  }
}