@import url("https://p.typekit.net/p.css?s=1&k=hac2fan&ht=tk&f=32232.32238&a=36078141&app=typekit&e=css");

@font-face {
font-family:"din-2014";
src:url("https://use.typekit.net/af/7f09be/00000000000000003b9b0acb/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff2"),url("https://use.typekit.net/af/7f09be/00000000000000003b9b0acb/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("woff"),url("https://use.typekit.net/af/7f09be/00000000000000003b9b0acb/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:800;
}

@font-face {
font-family:"din-2014-narrow";
src:url("https://use.typekit.net/af/e80950/00000000000000003b9b0ad3/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/e80950/00000000000000003b9b0ad3/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/e80950/00000000000000003b9b0ad3/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:700;
}

@import url("https://p.typekit.net/p.css?s=1&k=srw1xtq&ht=tk&f=32227.32231&a=36078141&app=typekit&e=css");

@font-face {
font-family:"din-2014";
src:url("https://use.typekit.net/af/cb6232/00000000000000003b9b0ad8/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/cb6232/00000000000000003b9b0ad8/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/cb6232/00000000000000003b9b0ad8/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:400;
}

@font-face {
font-family:"din-2014";
src:url("https://use.typekit.net/af/19a2f0/00000000000000003b9b0ac7/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/19a2f0/00000000000000003b9b0ac7/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/19a2f0/00000000000000003b9b0ac7/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:700;
}

body {
  margin: 0;
  padding: 0;
  font-family: din-2014, roboto, sans-serif;
  line-height: 19px;
  overflow-x: hidden;
}
ul li {
  list-style: none;
}

/* Nav */
.navbar {
  flex-direction: column;
  padding: 0;
  background-color: #000;
}
.navbar .upper {
  display: flex;
  width: 100%;
  padding: 10px 20px;
  max-width: 1170px;
}
.navbar .navbar-brand img {
  max-width: 150px;
  height: auto;
}
.navbar .upper .search-account {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.form-inline {
  position: relative;
}
.form-inline input {
  border: none;
}
.form-inline input::placeholder {
  font-size: 13px;
  font-weight: bold;
  color: #E1E1E1;
}
.form-inline i {
  position: absolute;
  right: 55px;
  top: 10px;
  font-size: 16px;
  color: #E1E1E1;
}
.form-inline .form-control {
  margin-right: 2.8rem !important;
}
.navbar .upper .account {
  height: 24px;
  width: 16px;
  margin-right: 10px;
}
.navbar .upper .cart {
  height: 20px;
  width: 24px;
  margin-right: 30px;
}
.navbar .upper .flag {
  height: 21px;
  width: 40px;
}
.navbar .upper .navbar-toggler {
  border: none;
  outline: none;
}
.navbar .upper .navbar-toggler span {
  color: #878C91;
}
.navbar .collapse.navbar-collapse {
  justify-content: center;
  width: 100%;
  background-color: rgb(81, 81, 81);
}
.navbar .navbar-nav {
  justify-content: space-between;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  max-width: 900px;
}
/* Section & container */
#search-by-gun {
  padding: 30px 0;
}
#search-by-gun .container {
  max-width: 1200px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
#search-by-gun .section-header {
  margin-bottom: 30px;
}
#search-by-gun .section-header  h1 {
  font-size: 21px;
  line-height: 28px;
  color: #2C3136;
  font-weight: bold;
}
#search-by-gun .section-header  p {
  font-size: 16px;
  line-height: 19px;
}
#onBodyCarousel,
#offBodyCarousel,
.off-body-container,
.on-body {
  width: 50%;
}
/* Tabs */
.nav.nav-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E1E1E1;
  height: 56px;
  width: 100%;
  margin-bottom: 30px;
}
.nav .nav-item {
  padding: 8px 0;
  height: 56px;
  width: 50%;
  text-align: center;
}
.nav .nav-item.active {
 border-bottom: 5px solid #000;
}
.nav .nav-item a {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
  opacity: .4;
  color: #707070;
  text-transform: uppercase;
}
.nav .nav-item.active a {
  opacity: 1;
}
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
  border-color: transparent;
}

/* Carousel */
.carousel-inner {
  margin: 0 auto;
}
/* Carousel item card */
.carousel-item .card {
  width: 100%;
  border: none;
  padding: 0 16px 16px;
}
.carousel-item .card .img-container {
  height: 210px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.carousel-item .card .card-title {
  font-size: 21px;
  font-weight: bold;
  margin: 0 0 15px;
}
.carousel-item .card .card-body {
  padding: 20px 0;
}
.carousel-item .card .read-more {
  display: none;
}
.carousel-item .card .read-more:hover {
  cursor: pointer;
}
.carousel-item .card .card-body .card-body-inner {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.carousel-item .card .card-body .card-body-left,
.carousel-item .card .card-body .card-body-right {
  width: 50%;
}
.carousel-item .card .card-body .card-body-right {
  padding: 40px 0 0 40px;
}
.carousel-item .card .card-body .card-body-right ul {
  padding: 0;
}
.carousel-item .card .card-body .card-body-right .benfits-list li {
  list-style: inherit;
  font-size: 14px;
  margin-bottom: 10px;
}
.carousel-item .card .btn-container {
  width: 50%;
  margin-bottom: 10px;
  float: right;
}
.carousel-item .card .btn-container a {
  font-size: 16px;
  letter-spacing: 1px;
  width: 100%;
  background-color: #000;
  border-color: #000;
  color: #fff;
  transition: all 0.3s ease;
}
.carousel-item .card .btn-container a:hover {
  background-color: #fff;
  border-color: #000;
  color: #000;
  transition: all 0.3s ease;
}
.carousel-item .card .btn-container a:first-of-type {
  margin-bottom: 10px;
}
.on-body-controls a i,
.off-body-controls a i {
  color: #878C91;
  font-size: 20px;
}
.on-body-controls a.carousel-control-prev,
.off-body-controls a.carousel-control-prev {
  left: 0px;
  transition: all 0.3s ease;
}
.on-body-controls a.carousel-control-next,
.off-body-controls a.carousel-control-next  {
  right: 0px;
  transition: all 0.3s ease;
}
.on-body-controls a.carousel-control-prev:hover,
.off-body-controls a.carousel-control-prev:hover {
  left: -5px;
  transition: all 0.3s ease;
}
.on-body-controls a.carousel-control-next:hover,
.off-body-controls a.carousel-control-next:hover {
  right: -5px;
  transition: all 0.3s ease;
}
/* Content */
.content {
  display: none;
  width: 100%;
}
.content.active {
  display: flex;
}
/* Content on-body */
.content_1 .on-body {
  position: relative;
  margin-bottom: 160px;
}
.content_1 .on-body img {
  height: auto;
  width: 100%;
}
.clickable-area {
  position: absolute;
  max-height: 355px;
  height: 100%;
  width: 100%;
  top: 86px;
}
.clickable-section-circle {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid #000;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 9px 0;
}
.clickable-section-circle:hover {
  cursor: pointer;
}
.clickable-section-circle.active {
  background-color: #000;
}
.clickable-section-circle.chest {
  top: 23%;
  left: 36%;
}
.clickable-section-circle.shoulder {
  top: 30%;
  left: 27%;
}
.clickable-section-circle.belly {
  top: 36%;
  left: 36%;
}
.clickable-section-circle.appendix {
  top: 50%;
  left: 36%;
}
.clickable-section-circle.pocket {
  top: 58%;
  left: 29%;
}
.clickable-section-circle.ankle {
  bottom: 2%;
  left: 38%;
}
.clickable-section-circle.owb {
  top: 45%;
  right: 38%;
}
.clickable-section-circle.iwb {
  top: 45%;
  right: 27%;
}
.clickable-section-circle.drop-leg {
  top: 66%;
  right: 35%;
}
.clickable-section-circle.owb.active,
.clickable-section-circle.iwb.active {
  color: #fff;
}
/* Content off-body */
.content_2 .off-body-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 330px;
}
.content_2 .off-body-container .icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 25%;
  transition: all 0.3s ease;
}
.content_2 .off-body-container .icon-container img {
  height: auto;
  width: 60%;
  margin-bottom: 30px;
  pointer-events: none;
}
.content_2 .off-body-container .icon-container:hover {
  cursor: pointer;
}
.content_2 .off-body-container .icon-container  p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0;
}
.content_2 .off-body-container.accessories img {
  margin-top: 3px;
}
.inactive {
  display: none;
}
.fixed {
  width: 100%;
  height: auto;
  position: fixed;
  background-color: rgba(255, 255, 255, .8);
  left: 0;
  z-index: 100;
  bottom: 0;
}
/* clickable area height updates */
@media only screen and (max-width: 1180px) {
  .clickable-area {
    max-height: 340px;
  }
}
@media only screen and (max-width: 1125px) {
  .clickable-area {
    max-height: 330px;
  }
}
@media only screen and (max-width: 1086px) {
  .clickable-area {
    max-height: 315px;
  }
  .clickable-section-circle.belly {
    top: 36.5%;
  }
}
@media only screen and (max-width: 1060px) {
  .clickable-area {
    max-height: 300px;
  }
}
@media only screen and (max-width: 991px) {
  .navbar .upper {
    justify-content: space-around;
    padding: 0;
  }
  .navbar .upper .navbar-brand {
    width: 25%;
    padding: 10px 0 10px 15px;
  }
  .navbar .upper .flag-container {
    width: 55%;
    text-align: end;
  }
  .navbar .upper .search-account {
    order: 1;
    background-color: #E1E1E1;
    justify-content: center;
  }
  .form-inline {
    width: 100%;
    padding-left: 15px;
  }
  .form-inline .form-control {
    width: 100%;
  }
}
/* transition to mobile layout */
@media only screen and (max-width: 968px) {
  .nav.nav-tabs {
    margin-bottom: 50px;
  }
  #onBodyCarousel,
  #offBodyCarousel,
  .off-body-container,
  .on-body {
    width: 100%;
  }
  #onBodyCarousel .carousel-inner,
  #offBodyCarousel .carousel-inner  {
    padding: 0 45px;
    width: 100%;
    max-width: 100%;
  }
  #onBodyCarousel .carousel-inner .card,
  #offBodyCarousel .carousel-inner .card  {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #878C91;
    padding: 0;
  }
  #onBodyCarousel .carousel-inner .card .img-container,
  #offBodyCarousel .carousel-inner .card .img-container {
    height: 225px;
  }
  .carousel-item .card .card-body {
    padding: 16px 16px;
  }
  .clickable-area {
    max-height: 100%;
    top: 0;
  }
  .clickable-section-circle {
    height: 50px;
    width: 50px;
    font-size: 14px;
    padding: 12px 0;
  }
  .clickable-section-circle.chest {
    top: 23%;
    left: 36%;
  }
  .clickable-section-circle.shoulder {
    top: 29%;
    left: 28%;
  }
  .clickable-section-circle.belly {
    top: 34%;
    left: 36%;
  }
  .clickable-section-circle.appendix {
    top: 45%;
    left: 36%;
  }
  .clickable-section-circle.pocket {
    top: 53%;
    left: 29%;
  }
  .clickable-section-circle.ankle {
    bottom: 9%;
    left: 38%;
  }
  .clickable-section-circle.owb {
    top: 41%;
    right: 38%;
  }
  .clickable-section-circle.iwb {
    top: 41%;
    right: 27%;
  }
  .clickable-section-circle.drop-leg {
    top: 60%;
    right: 36%;
  }
  .content_2 {
    flex-direction: column;
  }
  .content_2 .off-body-container {
    margin: 0 0 50px;
    max-height: 100%;
  }
  .content_2 .off-body-container .icon-container {
    width: 50%;
  }
  .content_2 .off-body-container .icon-container:nth-of-type(0),
  .content_2 .off-body-container .icon-container:nth-of-type(1) {
    margin-bottom: 80px;
  }
  .content_2 .off-body-container .icon-container img {
    width: 25%;
  }
  .carousel-item .card .btn-container {
    text-align: center;
    width: 100%;
    padding: 0 16px;
    float: none;
  }
  .carousel-item .card .btn-container .change-holster {
    font-size: 14px;
    font-weight: bold;
    color: #878C91;
    background-color: transparent;
  }
}
/* Tablet */
@media only screen and (max-width: 768px) {
  #onBodyCarousel .carousel-inner,
  #offBodyCarousel .carousel-inner  {
    padding: 0 30px;
  }
  .content_1 .on-body img {
    transform: scale(1.25);
    margin-top: 40px;
  }
  #onBodyCarousel .carousel-inner {
    padding: 0 30px 95px;
  }
  .clickable-section-circle.chest {
    left: 33%;
  }
  .clickable-section-circle.shoulder {
    left: 22%;
  }
  .clickable-section-circle.belly {
    top: 36%;
    left: 33%;
  }
  .clickable-section-circle.appendix {
    top: 50%;
    left: 33%;
  }
  .clickable-section-circle.pocket {
    top: 57%;
    left: 24%;
  }
  .clickable-section-circle.ankle {
    bottom: 0%;
    left: 36%;
  }
  .clickable-section-circle.owb {
    top: 43%;
    right: 36%;
  }
  .clickable-section-circle.iwb {
    top: 43%;
    right: 22%;
  }
  .clickable-section-circle.drop-leg {
    top: 65%;
    right: 32%;
  }
}
@media only screen and (max-width: 767px) {
  .on-body-controls a.carousel-control-prev, 
  .off-body-controls a.carousel-control-prev {
    left: -20px;
  }
  .on-body-controls a.carousel-control-next, 
  .off-body-controls a.carousel-control-next {
    right: -20px;
  }
  .on-body-controls a.carousel-control-prev:hover, 
  .off-body-controls a.carousel-control-prev:hover {
    left: -25px;
  }
  .on-body-controls a.carousel-control-next:hover, 
  .off-body-controls a.carousel-control-next:hover {
    right: -25px;
  }
}
/* Mobile */
@media only screen and (max-width: 568px) {
  #search-by-gun .container {
    padding: 0 30px;
  }
  .navbar .upper {
    flex-wrap: wrap;
  }
  .navbar .upper form .form-inline {
    width: 100%;
  }
  .navbar .upper .navbar-toggler {
    padding: 0;
  }
  .navbar .upper .cart {
    margin-right: 14px;
  }
  .form-inline .form-control {
    margin-right: 1rem !important;
  }
  .form-inline i {
    right: 30px;
  }
  #search-by-gun .section-header p {
    font-size: 14px;
  }
  .nav.nav-tabs {
    margin-bottom: 30px;
  }
  #onBodyCarousel .carousel-inner .card,
  #offBodyCarousel .carousel-inner .card  {
    padding-bottom: 16px;
  }
  #onBodyCarousel .carousel-inner .card .img-container,
  #offBodyCarousel .carousel-inner .card .img-container {
    height: 145px;
  }
  .carousel-item .card .img-container {
    background-position: center center !important;
  }
  .carousel-item .card .img-container.belly-img {
    background-position: right center !important;
  }
  .carousel-item .card .card-body {
    flex-direction: column;
    max-height: 200px;
    overflow: hidden;
    padding-bottom: 16px;
    transition:  max-height 0.3s ease-out;
  }
  /* #onBodyCarousel .carousel-inner .card.more-active,
  #offBodyCarousel .carousel-inner .card.more-active {
    margin: 0 auto 80px;
  } */
  .carousel-item .card.more-active .card-body {
    max-height: 500px;
    transition:  max-height 0.3s ease-in;
  }
  .carousel-item .card .read-more {
    display: block;
    color: #878C91;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }
  .carousel-item .card .card-body .card-body-inner {
    flex-direction: column;
  }
  .carousel-item .card .card-body .card-body-left,
  .carousel-item .card .card-body .card-body-right {
    width: 100%;
  }
  .carousel-item .card .card-body .card-body-right ul {
    padding: 0 0 0 20px;
  }
  .content_1 .on-body img {
    transform: scale(2);
    margin-top: 100px;
  }
  .clickable-area {
    height: 430px;
    max-height: inherit;
    top: 0px;
  }
  .clickable-section-circle {
    height: 45px;
    width:  45px;
    font-size: 12px;
    padding: 10px 0;
  }
  .clickable-section-circle.chest {
    top: 21%;
    left: 21%;
  }
  .clickable-section-circle.shoulder {
    top: 27%;
    left: 4%;
  }
  .clickable-section-circle.belly {
    top: 33%;
    left: 21%;
  }
  .clickable-section-circle.appendix {
    top: 45%;
    left: 21%;
  }
  .clickable-section-circle.pocket {
    top: 54%;
    left: 8%;
  }
  .clickable-section-circle.ankle {
    bottom: 5%;
    left: 26%;
  }
  .clickable-section-circle.owb {
    top: 40%;
    right: 27%;
  }
  .clickable-section-circle.iwb {
    top: 40%;
    right: 5%;
  }
  .clickable-section-circle.drop-leg {
    top: 60%;
    right: 20%;
  }
  #onBodyCarousel .carousel-inner {
    padding: 0 30px 110px;
    margin-bottom: -110px;
  }
  #offBodyCarousel .carousel-inner  {
    padding: 0 30px;
  }
  .content_2 .off-body-container .icon-container img {
    width: 40%;
    margin-bottom: 20px;
  }
  .content_2 .off-body-container {
    margin: 15px 0 45px;
  }
  .carousel-item .card .card-body .card-text {
    font-size: 14px;
  }
  .on-body-controls a.carousel-control-prev,
  .off-body-controls a.carousel-control-prev {
    left: -15px;
  }
  .on-body-controls a.carousel-control-next,
  .off-body-controls a.carousel-control-next  {
    right: -15px;
  }
  .on-body-controls a.carousel-control-prev:hover,
  .off-body-controls a.carousel-control-prev:hover {
    left: -15px;
  }
  .on-body-controls a.carousel-control-next:hover,
  .off-body-controls a.carousel-control-next:hover {
    right: -15px;
  }
}
@media only screen and (max-width: 375px) {
  .nav .nav-item a {
    font-size: 14px;
  }
  .clickable-area {
    height: 395px;
  }
  .clickable-section-circle.chest {
    top: 22%;
  }
  .clickable-section-circle.shoulder {
    top: 28%;
    left: 3%;
  }
  .clickable-section-circle.belly {
    top: 34%;
  }
  .clickable-section-circle.appendix {
    top: 46%;
  }
  .clickable-section-circle.pocket {
    top: 56%;
  }
  .clickable-section-circle.owb {
    top: 41%;
    right: 25%;
  }
  .clickable-section-circle.iwb {
    top: 41%;
    right: 4%;
  }
  .clickable-section-circle.drop-leg {
    top: 62%;
  }
  .content_2 .off-body-container .icon-container:nth-of-type(0),
  .content_2 .off-body-container .icon-container:nth-of-type(1) {
    margin-bottom: 35px;
  }
  .content_2 .off-body-container .icon-container img {
    width: 40%;
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 360px) {
  .clickable-area {
    height: 395px;
  }
  .clickable-section-circle {
    height: 40px;
    width: 40px;
  }
  .clickable-section-circle.chest {
    top: 23%;
  }
  .clickable-section-circle.shoulder {
    top: 26%;
  }
  .clickable-section-circle.belly {
    top: 34%;
  }
  .clickable-section-circle.appendix {
    top: 45%;
  }
  .clickable-section-circle.pocket {
    top: 56%;
  }
  .clickable-section-circle.ankle {
    bottom: 8%;
  }
  .clickable-section-circle.owb {
    top: 41%;
    right: 25%;
  }
  .clickable-section-circle.iwb {
    top: 41%;
    right: 4%;
  }
  .clickable-section-circle.drop-leg {
    top: 62%;
  }
}
@media only screen and (max-width: 320px) {
  #search-by-gun .section-header {
    margin-bottom: 15px;
  }
  .clickable-area {
    height: 340px;
  }
  .clickable-section-circle {
    height: 40px;
    width: 40px;
  }
  .clickable-section-circle.chest {
    top: 21%;
    left: 20%;
  }
  .clickable-section-circle.shoulder {
    top: 26%;
  }
  .clickable-section-circle.belly {
    top: 33%;
    left: 20%;
  }
  .clickable-section-circle.appendix {
    top: 45%;
    left: 20%;
  }
  .clickable-section-circle.pocket {
    top: 56%;
  }
  .clickable-section-circle.owb {
    top: 41%;
    right: 25%;
  }
  .clickable-section-circle.iwb {
    top: 41%;
    right: 4%;
  }
  .clickable-section-circle.drop-leg {
    top: 62%;
  }
  .clickable-section-circle.ankle {
    bottom: 5%;
}
  #onBodyCarousel .carousel-inner {
    padding: 0 20px;
    margin-bottom: 10px;
  }
  .content_1 .on-body img {
    margin-top: 80px;
  }
  #offBodyCarousel .carousel-inner {
    padding: 0 20px;
  }
  .content_2 .off-body-container {
    margin-bottom: 45px;
  }
}